@model BookInfoDTO

<div class="cover-container d-flex flex-column justify-content-center align-items-center vh-100">
    <main class="text-center p-3">
        <h1 class="mb-3">Welcome to the library!</h1>
        <p class="lead mb-4">This is a space to learn about books! Please search around the site to learn more! Tap the button below to watch all the books that exist.</p>

        <!-- Image section -->
        <div class="d-flex flex-wrap justify-content-center mb-4">
            <img src="/Images/bibliotek 3.jpg" class="img-fluid mx-2 my-2" alt="Description of image 1" style="max-width: 100%; height: auto; max-width: 250px;">
            <img src="/Images/bibliotek.jpg" class="img-fluid mx-2 my-2" alt="Description of image 2" style="max-width: 100%; height: auto; max-width: 250px;">
            <img src="/Images/bibliotek2.jpg" class="img-fluid mx-2 my-2" alt="Description of image 3" style="max-width: 100%; height: auto; max-width: 250px;">
        </div>

        <p class="lead">
            <a class="btn btn-lg btn-secondary fw-bold border-white bg-dark" asp-area="" asp-controller="Book" asp-action="BookIndex">All Books</a>
        </p>
    </main>
</div>







